<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title></title>

  <!-- MATERIALIZE -->
  <link type="text/css" rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/materialize/0.95.1/css/materialize.css"  media="screen,projection"/>

  <script type="text/javascript" src="//code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/materialize/0.95.1/js/materialize.js"></script>

  <link rel="stylesheet" type="text/css" href="./css/app.css" />

</head>
<body>

<nav style="background-color:white;">
  <div class="nav-wrapper">
    <a href="#" class="brand-logo black-text" style="padding-left:1%;">College App</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a class="black-text" href="/">Home</a></li>
      <li><a class="black-text" href="/profile">Profile</a></li>
      <li><a class="black-text" href="#">Log Out</a></li>
    </ul>
  </div>
</nav>

<%= yield %>

</body>