<!--<div class="row" style="padding-top:2%; background-color:blue;">
  <div class="col s3 l2 offset-s1 offset-l2">
    <img class="responsive-img z-depth-1" style="width:100%; height:100%;border:5px solid white;" border="5" src="./images/profile-pic.png" alt="">
  </div>

  <div class="col s8 m8 l8">
      <span class="black-text flow-text">
        John Smith
      </span>
  </div>
</div>-->

<div class="row" style="padding-top:2%; margin-left:3%; margin-right:3%;">
  <div class="col s5 m3 l2 offset-s1 offset-m1 offset-l1">
    <img class="responsive-img z-depth-1" style="position:relative;width:100%; height:100%;border:5px solid white;" border="5" src="./images/profile-pic.jpg" alt="">
  </div>

  <div class="col s6 m8 l8 flow-text black-text">
    <span><b>@john_smith123</b></span>
    <div>John Smith</div>
    <div>john.smith@gmail.com</div>
  </div>
  <div style="background-color:#b2ebf2;position:fixed;height:50px;left:9%;bottom:55%;width:82%;z-index:-1;"> <!--bottom:350px;-->
  </div>

</div>

<div class="flow-text" style="position:relative;left:9%;">
  <p>Colleges You've Liked</p><!-- style="float:left;" <a class="btn-flat btn-small waves-effect waves-light transparent" onclick="myFunction()"><i class="mdi-action-favorite" style="color:red"></i></a>-->
</div>

<table class="hoverable container">
  <thead>
  <tr>
    <th data-field="college">College or University</th>
    <th data-field="address">Address</th>
    <th data-field="phone number">Phone Number</th>
    <th data-field="website">Website</th>
  </tr>
  </thead>

  <tbody>
  <tr>
    <td>College A</td>
    <td>1 Bakers Lane, YT 90898</td>
    <td>123-456-7890</td>
    <td>www.collegeA.com</td>
  </tr>
  <tr>
    <td>College B</td>
    <td>098 Green Rd, HG 74920-092</td>
    <td>098-765-4321</td>
    <td>www.collegeB.com</td>
  </tr>
  <tr>
    <td>College C</td>
    <td>8 Highway St, JK 92048</td>
    <td>564-738-2910</td>
    <td>www.collegeC.com</td>
  </tr>
  </tbody>
</table>

<!--
<div class="row">
  <div class="col s1">1</div>
  <div class="col s1">2</div>
  <div class="col s1">3</div>
  <div class="col s1">4</div>
  <div class="col s1">5</div>
  <div class="col s1">6</div>
  <div class="col s1">7</div>
  <div class="col s1">8</div>
  <div class="col s1">9</div>
  <div class="col s1">10</div>
  <div class="col s1">11</div>
  <div class="col s1">12</div>
</div>-->
